//requaire : ../components/common/formItems_base.js
script
    include ../components/common/formItems_base.js
p hello main_1.pug
//////////////////////////////////////////////////////////////////////////////////////
mixin checkboxContainer(arg)
    -
        let numID = arg.id;
        let title = arg.title?arg.title:"Title";
    .checkboxPanel(id = arg.id) 
        .checkboxPanel__title= title
        if block
            block
            script. 
                let scripts = document.getElementsByTagName("script");
                let base = scripts[scripts.length - 1].parentNode;
                console.log(base.id);

                setFormItem(base.id);

                infoFormItems();
                //if(window.formItems == void 0)
                //{
                //    console.log("Create variable formItems");
                //    var formItems = [];
                //}
                //let item = {
                //    id:base.id,
                //    value:{
                //        getState: 
                //            function(id){
                //                console.log("This is HANDLER");
                //            }
                //    }
                //};
                //formItems.push(item);
                //console.log(window.formItems);
                base.onclick = function(){
                    //formItems.forEach(function(item){
                    //        item.value.getState(item);
                    //        
                    //    }
                    //);
                    //alert(this.id);
                }
        else
            p empty block passed
mixin checkboxItem(arg)
    -
        let id = arg.id;
        let state = arg.check? "true":"false";
        let name = arg.name?arg.name:"UNKNOWN";
        let title = arg.title?arg.title:"Title";
        let comment = arg.comment?arg.comment:"Coment";
    div.checkboxItem
        if(arg.withoutComent)
            div.checkboxItem__mainRow
                if(state == "true") 
                    input(type="checkbox",id=id, checked, name=name)
                else
                    input(type="checkbox",id=id, name=name)
                span.checkboxItem__additionalRow= title
        else
            div.checkboxItem__mainRow
                if(state == "true") 
                    input(type="checkbox",id=id, checked, name=name)
                else
                    input(type="checkbox",id=id, name=name)
                span= title
            div.checkboxItem__additionalRow
                span= comment
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

mixin dropdownContainer(arg)
    -
        let id = arg.id;
        let title = arg.title?arg.title:"UNKNOWN";
        let leftLabel = arg.leftLabel?arg.leftLabel:"UNKNOWN";
        let rightLabel = arg.rightLabel?arg.rightLabel:"";
        let value = arg.defaultValue?arg.defaultValue:"";
        let queryTitle = arg.queryTitle?arg.queryTitle:"UNKNOWN";
        let info = arg.info?arg.info:title+";"+title+";"+title+";"+title+";";
    .dropdownInput(id= id, name="base", data-info= info, data-queryTitle=queryTitle)
        .dropdownInput__title(name="title")
            label.dropdownInput__leftLabel(for=arg.id, name="leftLabel")= leftLabel
            label.dropdownInput__rightLabel(for=arg.id, name="rightLabel")= rightLabel
        .dropdownInput__input
            input(type="text", name="target", data-fullList="nothing",value= value, class="hz2", data-defaultValue=value)
        .dropdownInput__list(name="dropdown", style={display: "none"})
            if block
                block
        script
            include ../components/common/dropdown.js

mixin dropdownItem(arg)
    -
        let id = arg.id;
        let title = arg.title?arg.title:"UNKNOWN";
        let minCount = arg.minCount?arg.minCount:0;
        let maxCount = arg.maxCount?arg.maxCount:0;
        let queryTitle = arg.queryTitle?arg.queryTitle:"UNKNOWN";
        let name = "row";
        let info = arg.info?arg.info:title+";"+title+";"+title+";"+title+";";
    .tlistItem(name= name, data-min=minCount, data-max=maxCount, data-current=minCount, data-info= info, data-queryTitle=queryTitle)
        .tlistItem__title(name="title", data-title=name)= title
        .tlistItem__spliter
        .tlistItem__button(name="decButton") -
        .tlistItem__count(name="currentCount")= minCount
        .tlistItem__button(name="incButton") +

mixin ACPanel(arg)
    -
        let target = arg.targetId;
        let leftTitle = arg.leftTitle?arg.leftTitle:"очистить";
        let rightTitle = arg.rightTitle?arg.rightTitle:"применить";
    .clearAceptPanel(name="ACPanel", id = target + "_ACPanel", target= target)
        .clear(name="clear")= leftTitle
        .accept(name="accept")= rightTitle

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////