mixin calendar_2(arg)
    -
        let id = arg.id;
        let In = arg.arrival?arg.arrival:"arrival";
        let Out = arg.departure?arg.departure:"departure";
    .calendar_2(id=id, 
                aux-use_as="Calendar_Base", 
                aux-departureLabelId=Out,
                aux-arrivalLabelId=In)
        .calendar__header
            .calendar__prevButton(aux-use_as="Calendar_decMonthBtn" ) 
            .calendar__montTitle( aux-use_as="Calendar_monthTitle" ) monthTitle
            .calendar__yearTitle( aux-use_as="Calendar_yearTitle" ) yearTitle
            .calendar__nextButton( aux-use_as="Calendar_incMonthBtn" ) 
        table(aux-use_as="Calendar_daysArea",class="calendar__month")
            script.
                var shift = 40;
                let scripts = document.getElementsByTagName("script");
                var base = scripts[scripts.length - 1].parentNode;
                base.style.width = (base.parentNode.offsetWidth-shift)+ "px";
                base.style.marginLeft = (shift/2)+ "px";
                base.style.height = (base.parentNode.offsetWidth-shift)+"px" ;
            tr(class="calendar__daysTitle")
                th(aux-use_as = "Calendar_weekTitle" ) Пн
                th(aux-use_as = "Calendar_weekTitle" ) Вт
                th(aux-use_as = "Calendar_weekTitle" ) Ср
                th(aux-use_as = "Calendar_weekTitle" ) Чт
                th(aux-use_as = "Calendar_weekTitle" ) Пт
                th(aux-use_as = "Calendar_weekTitle" ) Сб
                th(aux-use_as = "Calendar_weekTitle" ) Вс 
            - for(p = 0; p<6; p++)
                tr(class="")
                    - for(z = 0; z < 7; z++)
                        td(class="calendar__normalCells", aux-use_as = "Calendar_dayCell" ) X
                        //td(name="cell"+(p*7 + z), class="calendar__normalCells") X
        input(type="hidden", name=nameIn, aux-use_as="Calendar_arrivalDate")
        input(type="hidden", name=nameOut, aux-use_as="Calendar_departureDate")
        script
            include ../../components/calendar/calendar.js
        .bottom
            +clearAcceptPanel({use_for:id})

mixin clearAcceptPanel(arg)
    -
        let targetId = arg.use_for?arg.use_for:"null"
    .ac(aux-use_for = targetId)
        .clear(aux-use_as="clear_button") очистить
        .accept(aux-use_as="accept_button") применить
        script.
            let sripts= document.getElementsByTagName("script");
            let base = scripts[scripts.length-1].parentNode;
            base.onclick=function(event){
                let target = document.getElementById(this.getAttribute("aux-use_for"));
                console.log("target")
                console.log(target)
                switch(event.target.getAttribute("aux-use_as"))
                {
                    case "accept_button":
                        target.dispatchEvent(new Event("accept"),{bubbles: true});
                    break;
                    case "clear_button":
                        target.dispatchEvent(new Event("clear"),{bubbles: true});
                    break;
                }
            }
            let clear = base.querySelector("[aux-use_as=clear_button]");
            let accept = base.querySelector("[aux-use_as=accept_button]");