doctype html
//include ../components/header/header
include ../components/label/label
include ../components/link/link
include ../components/blueLink/blueLink
include ../components/whiteLink/whiteLink
include ../components/dropdownList/dropdownList
include ../components/dateDropdown/dateDropdown
include ../components/calendar/calendar
include ../components/editableDropdown/editableDropdown
include ../components/inputPreviewBox/inputPreviewBox
include ../components/counterItem/counterItem
include ../components/itemGlue/itemGlue
include ../components/clearAcceptPanel/clearAcceptPanel
include ../components/blueSubmit/blueSubmit
include ../components/slider/slider
include ../components/expandList/expandList
include ../components/checkboxItem/checkboxItem
include ../components/maskedDropdown/maskedDropdown
include ../components/viewer/viewer
include ../components/roomShield/roomShield
include ../components/enterBox/enterBox
include ../components/pageIndexer/pageIndexer

head
    //link(rel="stylesheet" href="common.scss")
    meta(charset="UTF-8")
    title Search Room v.1
    meta(name="viewport" content="width=device-width, initial-scale=1" )
    
    style

     
    link(rel="stylesheet" href="SearchRoom.scss")
    //link(rel="stylesheet" href="../modules/common_modules.scss")   
    //link(rel="stylesheet" href="../components/slider/slider.scss")   
body
    //h1 Пример работы AJAX
    //div(id="welcome")
    //script.
        window.addEventListener("load",function() {
            var request = new XMLHttpRequest();
            request.open('GET','http://localhost:1234/processing.php',true);
            request.addEventListener('readystatechange', function() {
                if ((request.readyState==4) && (request.status==200)) {
                    var welcome = document.getElementById('welcome');
                    welcome.innerHTML = request.responseText;
                }
            });
            request.send();
        });
    //script
        include ../components/common/aux_common.js
    .page
        //main grid
        .base
            //grid header
            .header
                include ../modules/header.pug
            //filter bar
            .left_side
                form#filter
                    include ../modules/main_1.pug
                    script.
                        //window.onresize = function(){console.log("resize");};
                        document.addEventListener("keyup",
                        (event)=>{
                            switch(event.code){
                                case "KeyA":
                                    aux_sliders.updateData("firstSlider", 25, 75);
                                break;
                                case "KeyS":
                                    aux_sliders.updateData("firstSlider", 0, 100);
                                break;
                                default:
                                    console.log("event.code");
                                    console.log(event.code);
                                break;
                            }
                        });
                    div
                    +counterItem({id:"separate", minCount:10, maxCount:20})
                    +maskedDropdown({id:"masked_dates", title:"Даты пребывания в отеле", value:"хх ххх - хх ххх"})
                    +maskedDropdown({id:"masked_guests", title:"Гости", value:"Сколько гостей"})
                    //+dropdownContainer({id:"DD_1", defaultValue:"Сколько гостей", leftLabel:"гости",queryTitle:"quest_count", info:"Гостей;Гость;Гостя;Гостей;"})
                        +dropdownItem({  id:"01", title:"взрослые",     minCount:0, maxCount:5, queryTitle:"adult",  info:"Взрослых;Взрослый;Взрослых;Взрослых;"})
                        +dropdownItem({  id:"03", title:"дети",         minCount:0, maxCount:4, queryTitle:"child",  info:"Детей;Ребёнок;Ребёнка;Детей;"})
                        +dropdownItem({  id:"02", title:"младенцы",     minCount:0, maxCount:3, queryTitle:"infant", info:"Младенцев;Младенец;Младенца;Младенцев;"})
                        +ACPanel({targetId:"DD_1"})
                    div
                        +dropdownList({id:"guests", block:true, arrow:false})
                            +enterBox({})
                            +counterItem({id:"separae", minCount:10, maxCount:20})
                            +dropdownItem({  id:"01", title:"взрослые",     minCount:0, maxCount:5, queryTitle:"adult",  info:"Взрослых;Взрослый;Взрослых;Взрослых;"})
                            +dropdownItem({  id:"03", title:"дети",         minCount:0, maxCount:4, queryTitle:"child",  info:"Детей;Ребёнок;Ребёнка;Детей;"})
                            +dropdownItem({  id:"02", title:"младенцы",     minCount:0, maxCount:3, queryTitle:"infant", info:"Младенцев;Младенец;Младенца;Младенцев;"})
                            +ACPanel({targetId:"guests"})
                    div
                        +slider({
                                id:"firstSlider",
                                title:"Диапазон цены",
                                pointCount:"two",
                                comment:"Стоимость за сутки пребывания в номере",
                                type:"solid",
                                suffix:"RUR"
                            })
                            +slider_stage({type:"number", index:4, value:3000,  })
                            +slider_stage({type:"number", index:5, value:30000, })
                    div
                        +checkboxContainer({id:"options", title:"Опции"})
                            +checkboxItem({
                                id:"hz0", 
                                title:"Можно курить",
                                withoutComent:"true"
                                })
                            +checkboxItem({
                                id: "hz1", 
                                title:"Можно с питомцами",
                                withoutComent:"true"
                                })
                            +checkboxItem({
                                id: "hz2", 
                                title:"Можно пригласить гостей (до 10 человек)",
                                withoutComent:"true"
                                })
                            +itemGlue({
                                id:"guestGlue", 
                                targetId : "guestPreview", 
                                itemsId:["hz0", "hz1", "hz2"], 
                                title:"Сколько гостей", 
                                info:["Гостей","Гость","Гостя"]
                                })
                    //div
                        +checkboxContainer({id:"availability", title:"доступность"})
                            +checkboxItem({
                                id:"hz", 
                                title:"Широкий коридор", 
                                comment:"Ширина коридоров в номере не менее 91 см."
                                })
                            +checkboxItem({
                                id: "hz", 
                                title:"Помощник для инвалидов", 
                                comment:"На 1 этаже вас встретит специалист  и проводит до номера."
                                })
                    //div
                        +checkboxItem_2({id:"figa",withoutComent:"true"})
                        +expandList({id:"expand_1"})
                    //div
                        span(class="common__inputTitle") удобства номера
                        input(class="common__inputDropdown")


                    //+dropdownContainer({id:"RR_1", defaultValue:"Удобства номера", leftLabel:"Удобства номера",queryTitle:"quest_count", info:"Комнат;Комната;Комнаты;Комнат;"})
                        +dropdownItem({  id:"01", title:"спальни", minCount:0, maxCount:5,  queryTitle:"adult", info:"спален;спальня;спальни;спаленых;"})
                        +dropdownItem({  id:"03", title:"кровати", minCount:0, maxCount:4,      queryTitle:"child", info:"кроватей;кровать;кровати;кроватей;"})
                        +dropdownItem({  id:"02", title:"ванные комнаты", minCount:0, maxCount:3,  queryTitle:"infant", info:"ванных комнат;ванная комната;ванные комнаты;ванных комнат;"})
                        +ACPanel({targetId:"DD_1"})
                    //div
                        input(class="common__inputDropdown" value="дополнительные удобства")
                            var q = {};



                div#accept(style={border:"25px solid yellow"})
                script.
                    let button = document.getElementById("accept");
                    button.onclick=function(){
                        getData();
                    };
                    
                    
                    
                    function init(wall_id, button_id){
                        let tmp1 = document.getElementById(wall_id)
                        if(tmp1){q.wall=tmp1;}else{console.error("ERROR : wall_id don't exist");return;}
                        let tmp2 = document.getElementById(button_id)
                        if(tmp2){q.button=tmp2;}else{console.error("ERROR : button_id don't exist");return;}

                        q.button.onclick = function(){getData();};
                    }
                    function getData(){
                        //console.error(button);
                        let form = filter;// document.querySelector("[name=mainForm]");
                        //console.log(form);
                        let data = new FormData(form);
                        console.log(data);
                        let hz = new XMLHttpRequest();
                        hz.open("POST","http://localhost:80/AJAX_SAMPLE.php");
                        hz.send(data);
                        hz.onload = function(){
                            if(hz.status!=200){
                                console.error(`Error : ${hz.status} : ${hz.statusText}`);
                            }
                            else{
                                console.log(`Recive ans, ans.length = ${hz.response.length} byte`);
                                console.log(hz.response);
                                //q.wall.innerHTML = hz.response;
                            }
                        }
                    }
            //grid room prevews
            .main
                //include ../modules/main_1.pug
                
                +viewer()
                    +roomShield()
                +pageIndexer()

                //+checkboxContainer({id:"testCheckbox_1"})
                //    +checkboxItem({id:"qwe", check: "da", name:"one"})
                //    +checkboxItem({id: "123"})
                //    +checkboxItem({name:"three"})
                //    +checkboxItem({name:"four"})
                //+checkboxContainer({id:"testCheckbox_2"})
                //    +checkboxItem({name:"one"})
                //    +checkboxItem({name:"two"})
                //    +checkboxItem({name:"three"})
                //    +checkboxItem({name:"four"})
                //+checkboxContainer({id:"testCheckbox_3"})
                //    +checkboxItem({name:"one", coment:"coment"}) 
                //    +checkboxItem({name:"two"})
                //    +checkboxItem({name:"three"})
                //    +checkboxItem({name:"four"})

            //grid footer
            .footer
                include ../modules/footer.pug
            //grid social links
            .social
                include ../modules/social.pug
    //Placeholder_1
    script.
        let monthName = {
            0:"января",
            1:"февраля",
            2:"марта",
            3:"апреля",
            4:"мая",
            5:"июня",
            6:"июля",
            7:"августа",
            8:"сентября",
            9:"октября",
            10:"ноября",
            11:"декабря",
        };
        let uri = window.location.href;
        let trueURI = decodeURI(uri);
        var vars={};
        var parts = trueURI.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
            });
        console.log(vars);
        let ari = vars["t1"].replace(/[+]/gi, " ");
        let dep = vars["t2"].replace(/[+]/gi, " ");
        ari = ari.replace(/%3A/gi, ":");
        ari = ari.replace(/%2B/gi, "-");
        dep = dep.replace(/%3A/gi, ":");
        dep = dep.replace(/%2B/gi, "-");
        let a = new Date(Date.parse(ari));
        let d = new Date(Date.parse(dep));
        aux_masked.setById("masked_dates",`С ${a.getDate()} ${monthName[a.getMonth()]}, по ${d.getDate()} ${monthName[d.getMonth()]} `);
        aux_masked.setById("masked_guests",`${Number.parseInt(vars["child"]) + Number.parseInt(vars["adult"]) + Number.parseInt(vars["infant"])} гостей`);